@import "mixins";

.calendar {
  position: absolute;
  width: 300px;
  font-size: 0.875rem;
  top: calc(100% + 10px);
  z-index: 5;

  &:focus {
    display: block;
  }
}

.v-cal *, .v-cal *:before, .v-cal *:after {
  box-sizing: border-box;
}

.v-cal {
  background-color: #fff;
  border-radius: 0;
  border: solid 1px #e7e9ed;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  .vcal-header {
    align-items: center;
    display: flex;
    padding: 1.2rem 1.4rem;
    position: relative;
  }

  .vcal-header svg {
    fill: #10989E;
  }

  .vcal-header__label {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .vcal-week {
    background-color: #eeeff2;
    display: flex;
    flex-wrap: wrap;
  }

  .vcal-week span {
    flex-direction: column;
    flex: 0 0 14.28%;
    font-size: 0.875rem;
    max-width: 14.28%;
    padding: 1.2rem 0rem;
    text-align: center;
    text-transform: uppercase;

    font-size: 13px;
  }

  .vcal-body {
    background-color: rgba(#E7E9ED, 0.3);
    display: flex;
    flex-wrap: wrap;
  }

  .vcal-date {
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding: 0.6rem 0;
  }

  .vcal-date--active {
    cursor: pointer;
  }

  .vcal-date--today {
    background-color: #b3f2eb;
  }

  .cel-period {
    background-color: #7fecdf;
  }

  .cel-selected {
    background-color: #79e2d6;
  }

  .vcal-date--period {
    background-color: #d8f9f5;
  }

  .vcal-date--disabled {
    border-radius: 0;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .vcal-btn {
    &--prev, &--next {
      width: 9px;
      height: 100%;

      opacity: .4;
      position: absolute;
      cursor: pointer;
      left: 0px;
      right: auto;
      padding: 30px;
      transition: opacity .1s, background-color .1s;
      background-color: transparent;

      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 15px;
        opacity: .4;
        position: relative;
        cursor: pointer;
        background: url("../../assets/images/icons/arrow-switch.png") no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        opacity: .9;
        background-color: #00dabf8f;
      }
    }

    &--next {
      transform: rotate(180deg);
      right: 0px;
      left: auto;
      position: absolute;
      height: 100%;
      padding: 30px;
    }
  }
}


