@import "mixins";

.auth-block {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 30px 30px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(61,119,180,.12), 0 8px 16px 0 rgba(91,139,199,.24);

  &__title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
  }

  &__field-container {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      display: block;
      width: 17px;
      height: 17px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--phone-code {
      display: flex;
      flex-wrap: wrap;
    }

    &--login {
      &:after {
        background-image: url("../../assets/images/icons/user-login.png");
      }
    }

    &--pass {
      &:after {
        background-image: url("../../assets/images/icons/password.png");
      }
    }

    &--email {
      &:after {
        background-image: url("../../assets/images/icons/mail.png");
        opacity: .5;
      }
    }

    &--phone {
      &:after {
        background-image: url("../../assets/images/icons/phone.png");
      }
    }
  }

  &__field {
    width: 100%;
    font-size: inherit;
    border: 1px solid #05dabf;
    background-color: #fff;
    padding: 0.520rem 0.75rem;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 1.6;

    &--wrong {
      border-color: $wrong-field-border-color;
    }

    &--phone-code {
      width: 60%;
      border-radius: 3px 0 0 3px;
      border-right: none;
    }
  }

  &__phone-code-btn {
    width: 40%;
    border: none;
    border-radius: 0 3px 3px 0;
    font-weight: 500;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
    background: #00dabf;
    color: #fff;
    padding: 7px 16px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #000;
    }

  }

  &__submit-btn {
    width: 100%;
    margin-bottom: 22px;
  }

  &__code-message {
    font-size: inherit;
    color: #373737;
    width: 100%;
    margin-top: 16px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__link-container {
    text-align: center;
    margin-top: 35px;
  }

  &__link-title {
    color: #a1a1a1 ;
  }

  &__link {
    text-decoration: underline;
    color: #000000;
  }
}