@import "mixins";

.balance-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &--attention &__count {
    color: #f5365c;
  }

  &--attention &__icon {
    background: #f5365c;
  }

  &__count {
    font-size: 30px;
    font-weight: 500;
    color: $main-green-color;
    margin-bottom: 4px;

    &:after {
      font-size: 24px;
    }

    &--currency {
      &:after {
        content: 'Ñ€';
      }
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__icon {
    background: $background-gradient;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
  }

  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: right .15s, transform .15s;


    .active & {
      right: 24px;
      transform: translate(0, -50%);
    }
  }

  &__recharge-input {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 96px;
    transform: translate(-50%, -50%);
    border-radius: 1px 2px 3px 4px;
    border: 1px solid $main-green-color;
    letter-spacing: .03em;
    padding: 7px 20px 7px 14px;
    font-size: 13px;
    box-sizing: border-box;
    line-height: 1.84615385;
    -moz-appearance:textfield;
    transition: left .15s, transform .15s, padding-right .15s, width .15s;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .active & {
      left: 24px;
      padding-right: 175px;
      transform: translate(0, -50%);
      width: calc(100% - 48px);
    }
  }

  &__recharge-form {
    width: 100%;
    height: 100%;
  }

  &__recharge-form:hover ~ &__hint.shown {
    opacity: 1 !important;
    z-index: 5 !important;
    top: -27px !important;
  }

  &__hint.shown {
    opacity: 0 !important;
    z-index: -11 !important;
  }

  &__hint {
    position: absolute;
    z-index: 11;
    top: -15px;
    left: -20px;
    opacity: 0;
    font-size: 13px;
    padding: 14px;
    background-color: #FFFFFF;
    border: 1px solid $main-green-color;
    border-radius: 3px;
    transition: opacity .3s, top .2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

    .active ~ & {
      display: block;
      opacity: 1;
      z-index: 5;
      top: -27px;
    }

    &:before {
      content: '';
      top: 47px;
      left: 30%;
      z-index: 4;
      height: 12px;
      width: 12px;
      position: absolute;
      -webkit-box-shadow: -4px -4px var(--color_2);
      box-shadow: -1px -1px #00dabf;
      background: linear-gradient(-45deg, transparent 50%, #fff 50%);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(-135deg);
    }

  }

  @media screen and (max-width: 768px) {
    &__recharge-form {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__recharge-form:hover ~ &__hint.shown {
      opacity: 1;
      z-index: 5;
      top: -49px;
      left: 25px;
    }

    &__recharge-form:hover ~ &__hint {
      opacity: 1;
      z-index: 5;
      top: -49px;
      left: 25px;
    }

    &__hint {
      left: 25px;

      .active ~ & {
        display: block;
        opacity: 0;
        z-index: -5;
        top: -27px;
      }
    }


    &__btn,
    &__recharge-input,
    .active &__btn,
    .active &__recharge-input {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
      right: auto;
      min-width: auto;
    }

    &__recharge-input, .active &__recharge-input {
      padding: 7px  14px;
      margin-right: 10px;
      width: 100%;
    }
  }

  @media screen and (max-width: 370px) {
    &__recharge-form {
      flex-wrap: wrap;
    }

    &__btn,
    &__recharge-input,
    .active &__btn,
    .active &__recharge-input {
      width: 100%;
    }

    &__recharge-input, .active &__recharge-input {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }
}