@import "mixins";

.balance-info {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(61,119,180,.12), 0 8px 16px 0 rgba(91,139,199,.24);

  &__block {
    border-right: 1px solid #dee8f0;
    padding: 1.5rem 1.5rem;
    width: 50%;

    &:last-child {
      border: none;
    }
  }

  @media screen and (max-width: 1280px) {
    flex-wrap: wrap;

    &__block {
      width: 100%;
      border-bottom: 1px solid #dee8f0;
      border-right: none;

      &:nth-child(2n - 1) {
        border-right: 1px solid #dee8f0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__block {
      width: 100%;
      border-bottom: 1px solid #dee8f0;
      border-right: none;

      &:nth-child(2n - 1) {
        border-right: none;
      }
    }
  }
}