@import "mixins";
@import "settings-table";
@import "validation";
@import "auth-block";
@import "auth-page";
@import "card-header-links";
@import "stats-top-menu";
@import "stats-table";
@import "calendar";
@import "notification-table";
@import "top-buttons";
@import "product-matrix-table";
@import "number-input";
@import "monitoring-table";

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.disabled-block {
  display: none;
}

.table-responsive {
  border-top: 1px solid #e7effc;
  overflow-y: hidden;
}

.example {
  border: none;
}

.aligned-text {
  text-align: center;
  padding: 1em 0;
}

.default-checkbox {
  min-width: 20px;
  min-height: 20px;
  margin-bottom: 0;

  input {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  span {
    position: relative;
    display: block;
    font-size: inherit;
    color: #000000;
    padding-left: 30px;

    &:hover {
      cursor: pointer;
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      margin-right: 10px;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      border: 1px solid #05dabf;
      background-color: #fff;
    }
  }

  &__error {
    span::before {
      border-color: $wrong-field-border-color;
    }
  }

  input:checked ~ span {
    &:before {
      background-color: #05dabf;
      border-color: #05dabf;
    }

    &:after {
      top: 5px;
      width: 16px;
      height: 12px;
      left: 3px;
      content: '';
      background-image: url("../../assets/images/icons/checkmark.png");
    }
  }
}

@media screen and (max-width: 768px) {
  .selectgroup {
    flex-wrap: wrap;
  }

  .selectgroup-item {
    width: 100%;
  }
}