@import "mixins";
@import "settings-table";
@import "validation";
@import "auth-block";
@import "auth-page";
@import "card-header-links";
@import "stats-top-menu";
@import "stats-table";
@import "calendar";
@import "notification-table";
@import "top-buttons";
@import "product-matrix-table";
@import "number-input";
@import "monitoring-table";
@import "company-settings";
@import "balance-info";
@import "balance-info-block";
@import "payment-table";
@import "controller-service-table";

.badge {
  font-weight: 500;
  &.badge-gray {
      color: #fff;
      background-color: #adadad;
  }
}

td.f-b a, a.f-b {
  color: black;
}

button:disabled, button.disabled {
  cursor: not-allowed;
}

.hint-wrapper {
  .hint {
    z-index: 10;
  }
  .hint-visible {
    opacity: 1;
    top: -28px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.disabled-block {
  display: none;
}

.table-responsive {
  border-top: 1px solid #e7effc;
  overflow-y: hidden;
}

.tab-menu-heading {
  padding: 20px 1.5rem;
}

.example {
  border: none;
}

.aligned-text {
  text-align: center;
  padding: 1em 0;
}

.card-footer {
  &--settings-company {
    display: none;
  }
}

.default-checkbox {
  min-width: 20px;
  min-height: 20px;
  margin-bottom: 0;

  input {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  span {
    position: relative;
    display: block;
    font-size: inherit;
    color: #000000;
    padding-left: 30px;

    &:hover {
      cursor: pointer;
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      margin-right: 10px;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      border: 1px solid #05dabf;
      background-color: #fff;
    }
  }

  &__error {
    span::before {
      border-color: $wrong-field-border-color;
    }
  }

  input:checked ~ span {
    &:before {
      background-color: #05dabf;
      border-color: #05dabf;
    }

    &:after {
      top: 5px;
      width: 16px;
      height: 12px;
      left: 3px;
      content: '';
      background-image: url("../../assets/images/icons/checkmark.png");
    }
  }
}

.toggle-checkbox {
  position: relative;
  display: inline-block;

  .label-text {
    line-height: 22px;
    margin-left: 9px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked ~ .slider {
      background-color: #00dabf;
    }

    &:focus ~ .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked ~ .slider:before {
      transform: translateX(21px);
    }
  }

  .slider {
    position: relative;
    top: 4px;
    display: inline-block;
    cursor: pointer;
    width: 42px;
    height: 22px;
    background-color: #e9ecef;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #e7effc;
    box-sizing: border-box;
    margin-bottom: -2px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 0px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

.select-services {
  .toggle-checkbox {
    display: block;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 992px) {
  .card-footer {
    &--settings-company {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .selectgroup {
    flex-wrap: wrap;
  }

  .selectgroup-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header-brand-img {
    height: 3.2rem;
  }
}
