@import "mixins";

.settings-table {
  @include default-table();

  td {
    &:first-child {
      font-weight: 600;
    }

    a {
      color: #000000;
    }

    &.state {
      &:hover {
        cursor: pointer;
      }
    }
  }
}