@import "mixins";

.stats-table {
  @include default-table();
  position: relative;
  z-index: 1;

  &--sales {
    tr td {
      &:last-child {
        width: 60%;
      }
    }
  }

  thead tr {
    z-index: 11;
    position: relative;
    background-color: #fff;

    th, td {
      background-color: #fff;
    }

    &:hover {
      background-color: #fff;
    }
  }

  tr {
    &:hover {
      background-color: rgba(212, 224, 236, 0.31);
    }
  }

  td {
    position: relative;
    outline: 0;
  }

  td:hover::after,
  td:focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
    background-color: rgba(212, 224, 236, 0.31);
  }

  @media screen and (max-width: 992px) {
    &--sales {
      tr td {
        &:last-child {
          width: auto;
        }
      }
    }
  }
}