@import "mixins";

.stats-top-menu {
  padding: 0 25px;
  margin-top: 40px;
  margin-bottom: 30px;

  &__content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__date-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include default-btn-style();

    margin-bottom: 10px;

    background: #fff;
    line-height: 1.84615385;
    margin-right: 10px;

    &:hover {
      background: #daf9f5;
      cursor: pointer;
    }

    &--active {
      background: $main-green-color;
      color: #fff;
      transition: none;

      &:hover {
        cursor: default;
        background: $main-green-color-dark;
      }
    }

    &--date {
      margin: 0;
      max-width: 160px;
    }
  }

  &__date-period {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  &__date-separator {
    width: 6px;
    height: 2px;
    background-color: $main-green-color;
    margin: 0 8px;
  }
}
