<form [formGroup]="form" (ngSubmit)="eventSubmit()">
  <section class="customer">
`    <div class="wrapper">
      <img src="assets/mister-x.png"/>

      <fieldset class="customer__general">
        <input name="login" type="text" formControlName="login" placeholder="Login">
        <input name="first_name" placeholder="First Name" type="text" formControlName="firstName">
        <input name="last_name" placeholder="Last Name" type="text" formControlName="lastName">
        <input name="birth_date" type="date" formControlName="dateOfBirth">
        <input name="password" type="password" formControlName="password" placeholder="Password">
        <select name="role" formControlName="role" *ngIf="method === 'create'">
          <option>ROLE_USER</option>
          <option>ROLE_ADMIN</option>
        </select>
      </fieldset>
    </div>
  </section>
  <section class="customer__details">
    <fieldset>
      <input placeholder="Address" name="adress" type="text" formControlName="address">
      <textarea placeholder="About" name="about" rows="10" formControlName="about"></textarea>
    </fieldset>
  </section>
  <div class="btn-set">
    <button type="submit" class="btn-edit" *ngIf="method === 'update'">Update profile</button>
    <button type="submit" class="btn-edit" *ngIf="method === 'create'">Create profile</button>
  </div>
</form>
