.buttons-area {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.buttons-area button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
